/* RESET */
*{
	margin: 0;
	padding: 0;
	font-family: Verdana, Genova, Tahona, sans-serif;
}

/* HEADER */
header{
	height: 80px;
	background-color: #aaaaaa;
	padding: 0 50px;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo{
	text-transform: uppercarse;
	color: black;
	font-weight: 200;
}
.menu a{
	color: white;
	text-transform: uppercase;
	text-decoration: none;
	padding: 0 10px;
	transition: 0.4;
}
.mostrar-menu,
.esconder-menu{
	font-size: 30px;
	cursor: pointer;
	display: none;
	transition: 0.4;
}

.mostrar-menu{
	order:1;
}

.menu a:hover,
.mostrar-menu:hover,
.esconder-menu:hover{
	color: green;
}

#check{
	display: none;
}

/*BANNER*/

#banner{
	padding: 0 50px;
	background-image: url(../images/banner.jpg);
	height: 40vh;
	background-size: cover;
	background-position: centre;
}

#banner::before{
	content: '';
	position: absolute;
	width: 100%;
	height: 45vh;
	left: 0;
}
.contenido-banner{
	position: relative;
	color: white;
	height: 100%;
	justify-content: centre;
}
.contenido-banner h3{
	font-size: 30px;
	font-weight: 400;
	padding: 10px 0px;
}
.contenido-banner h3 span{
	/*font-weight: 600;*/
}

/*INTRODUCCION*/


#introduccion{
	padding: 50px 50px;
    display: flex;
	text-align: justify;
	
}
#introduccion p{
	color: grey;
	text-align: justify;
}

#columna-left{
	position: relative;
	width: 45%;
	margin-top: 10px;
	text-align: justify;
	
}
#columna-right{
	margin-left: 10%;
	margin-top: 10px;
	text-align: justify;
}

.local{
	display: flex;
	width: 100%;
	height: 100%;
}


/* FOOTER */

.social-footer {
	height: 50px;
	padding: 1rem;
	background: #8a8a8a;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
     -webkit-align-items: center;
         -ms-flex-align: center;
          align-items: center;
     -webkit-justify-content: space-between;
         -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-footer-icons{
	color: #4a4a4a;
	transition: color 0.3s ease-in;
}
.social-footer-left{
	padding-left: 35px;
}
.logo{
	max-width: 50px;
	max-height: 50px;
}
.facebook, 
.instagram,
.pinterest,
.twitter{
	max-width: 30px;
	max-height: 30px;
}

/*RESPONSIVE*/
@media(max-width: 768px){
	/*HEADER*/
	.mostrar-menu,
	.esconder-menu{
		display: block;
	}
	
	.menu{
		position: fixed;
		width: 100%;
		height: 100vh;
		background: grey;
		right: -100%;
		top: 0;
		text-align: center;
		padding: 100px 0px;
		z-index: 100;
		transition: 0.8s;
	}
	.menu a{
		display: block;
		padding: 20px;
	}
	.esconder-menu{
		position: absolute;
		top: 40px;
		right: 40px;
	}
	#check:checked ~ .menu{
		right: 0;
	}
	
	/*INTRODUCCION*/
	
	#columna-left,
	columna-right,
	introduccion{
		display: flex;
		flex-direction: column;
		column-count: 1;
	}
	
	/* FOOTER */
	#footer{
	
	}
}

